@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("styles/header.css");
@import url("styles/estatisticas.css");
@import url("styles/epi.css");
@import url("styles/inicio.css");
@import url("styles/prevencao.css");
@import url("styles/conclusao.css");

:root {
  --cor-principal: #000000;
  --cor-secundario: #3f0071;
  --cor-terciaria: #610094;
  --cor-hover: #150050;
  --cor_branc: white;

  --font-principal: "Krona One", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
  --font-terciaria: "Poppins", sans-serif;
  --color-primary: #123456;
  --color-secondary: #fff;
  --azul-royal: #144480;
  --fundo-card-timer: rgba(20, 68, 128, 0.3);
  --lils: #b872ff;
  --linear-botes: linear-gradient(180deg, #b872ff 0%, #144480 100%);
}

body {
  font-family: var(--font-principal);
  height: 100%;
  background-color: #4d5200;
  background-image: url("../img/tree-bark.png");
}
.Retorno {
  position: sticky;
  top: 0;
}
.imgAgronomia {
  width: 4rem;
  height: 4rem;
  position: absolute;
  padding-left: 1rem;
}
.titulo {
  font-family: var(--font-terciaria);
  font-size: 3rem;
  background-color: #524900;
  text-align: center;
  color: white;
  padding: 1rem;
}
.negrito {
  font-weight: bold;
  color: var(--azul-royal);
}
